{% extends 'base.html' %}
{% block title %}Category Page{% endblock %}

{% block content %}
{% include 'navbar.html'%}

<section class="category-product">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="display-5 text-success mb-4">Product List</h2>

        </div>
        <div class="row">
            {% for product in products %}
            {% if product.is_sale %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
                <div class="card border-0 shadow">
                    <div class="card-body pb-4">
                        <img src="{{ product.image.url }}" alt="image">
                        <h4>{{product.name}}</h4>
                        <strike>
                            <p>${{product.price}}
                        </strike> &nbsp;<span>${{product.sale_price}}/-</span></p>
                        <div class="d-flex justify-content-center small text-warning">
                            <div class="bi-star-fill"></div>
                            &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                            <div class="bi-star-fill"></div>
                        </div>
                        <div class="deatil mt-3">
                        <a href="{% url 'productdetail' product.id %}" class="view-all-btn">View product <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            {% else %}
             <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
                <div class="card border-0 shadow" style="height: 350px;">
                    <div class="card-body pb-4">
                        <img src="{{ product.image.url }}" alt="image">
                        <h4>{{product.name}}</h4>
                        <strike>
                            <p>${{product.price}}
                        </strike> &nbsp;<span>${{product.sale_price}}/-</span></p>
                        <div class="deatil mt-5">
                        <a href="{% url 'productdetail' product.id %}" class="view-all-btn">View product <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}
